/* Stylez les compartiments selon vos préférences */
.compartiment {
    width: 250px;
    height: 150px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.compartiment:hover {
    background-color: #2980b9;
}

/* Pour les compartiments qui doivent être ouverts aujourd'hui */
.compartiment.ouverture-aujourd-hui {
    background-color: green;
}

/* Pour les compartiments dont la date d'ouverture est passée */
.compartiment.ouverture-passee {
    background-color: red;
}

.compcontent{
    padding-top: 10px;
    padding-bottom: 20px;
}

.buttonsday{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.remove, .add {
    font-size: 24px; /* Adjust the font size as needed */
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.remove:hover, .add:hover {
background-color: aqua;
}






/* Stylez les cartes selon vos préférences */
.carte {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carte .question {
    font-weight: bold;
}

.carte .reponse {
    display: none;
    /* Cachez la réponse initialement, vous pouvez la montrer au clic si nécessaire */
}

/* Masquez les boutons "Réponse correcte" et "Réponse incorrecte" initialement */
.carte .reponse-correcte,
.carte .reponse-incorrecte {
    display: none;
}

.top{
    display: flex;
    justify-content: space-between;
}

.edit, .delete{
    cursor: pointer;
}