/* Stylez les compartiments selon vos préférences */
.compartiment {
    width: 250px;
    height: 150px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.compartiment:hover {
    background-color: #2980b9;
}

/* Pour les compartiments qui doivent être ouverts aujourd'hui */
.compartiment.ouverture-aujourd-hui {
    background-color: green;
}

/* Pour les compartiments dont la date d'ouverture est passée */
.compartiment.ouverture-passee {
    background-color: red;
}

.compcontent {
    padding-top: 10px;
    padding-bottom: 20px;
}

.buttonsday {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.remove,
.add {
    font-size: 24px;
    /* Adjust the font size as needed */
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
    width: 18px;
}

.remove:hover,
.add:hover {
    background-color: aqua;
}






/* Stylez les cartes selon vos préférences */
.carte {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carte .question {
    font-weight: bold;
}

.carte .reponse {
    display: none;
    /* Cachez la réponse initialement, vous pouvez la montrer au clic si nécessaire */
}

/* Masquez les boutons "Réponse correcte" et "Réponse incorrecte" initialement */
.carte .reponsebuttons-div,
.carte .cacherreponsediv {
    display: none;
}

.top {
    display: flex;
    justify-content: center;
}

.edit,
.delete {
    cursor: pointer;
}

.displayname {
    font-size: 2em;
    /* Adjust the font size as needed */
    font-weight: bold;
    color: #333;
    /* Choose your preferred text color */
    margin-bottom: 20px;
    /* Add some bottom margin for spacing */
    text-transform: uppercase;
    /* Uppercase the text */
    letter-spacing: 2px;
    /* Adjust letter spacing as needed */
}

.icons {
    position: absolute;
    right: 40px;
}

#dossiers {
    display: none;
}

.folder {
    min-height: 60px;
    background-color: #ffc928;
    border-radius: 5px;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

.folder::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3%;
    height: 20%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.folder::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% + 2px);
    /* Adjust the width to include the border */
    height: calc(100% + 2px);
    /* Adjust the height to include the border */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Include the border in the element's total size */
    pointer-events: none;
    /* Allow clicks to go through the pseudo-element */
}

/*.folder:hover {
    background-color: #fdd766;
    cursor: pointer;
}*/